[project]
	state = active
	description = OpenDaylight controller
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group controller-committers
	label-Code-Review = -2..+2 group ldap/gerrit-controller-commiters
	label-Code-Review = -1..+1 group Non-Interactive Controller Users
	label-Verified = -1..+1 group Non-Interactive Controller Users
	label-Verified = -1..+1 group controller-committers
	label-Verified = -1..+1 group ldap/gerrit-controller-commiters
	submit = group controller-committers
	submit = group ldap/gerrit-controller-commiters
[access "refs/tags/*"]
	pushTag = group controller-committers
	pushTag = group ldap/gerrit-controller-commiters
[receive]
	requireSignedOffBy = true
[access "refs/*"]
	read = group controller-committers
	read = group ldap/gerrit-controller-commiters
	read = group ldap/gerrit-netvirt-platform-commiters
	read = group netvirt-platform committers
