[project]
	description = OpenDaylight controller
	state = hidden
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group ldap/gerrit-controller-commiters
	label-Code-Review = -1..+1 group Non-interactive controller Users
	label-Code-Review = -1..+1 group Registered Users
	label-Verified = -1..+1 group Non-interactive controller Users
	label-Verified = -1..+1 group ldap/gerrit-controller-commiters
	submit = group ldap/gerrit-controller-commiters
	create = group Non-interactive controller Users
	push = group Non-interactive controller Users
	pushMerge = group Non-interactive controller Users
	forgeCommitter = group Non-interactive controller Users
	forgeAuthor = group Non-interactive controller Users
[access "refs/tags/*"]
	pushTag = group Non-interactive controller Users
	pushTag = +force group ldap/gerrit-controller-commiters
	forgeCommitter = group Non-interactive controller Users
	create = group ldap/gerrit-controller-commiters
	push = group Non-interactive controller Users
	push = +force group ldap/gerrit-controller-commiters
[receive]
	requireSignedOffBy = true
	requireChangeId = true
[access "refs/*"]
	owner = group ldap/gerrit-controller-commiters
	read = group Administrators
	read = group Anonymous Users
	read = group GitHub Replication
	read = group Non-interactive controller Users
	read = group Registered Users
	read = group ldap/gerrit-controller-commiters
	forgeAuthor = group ldap/gerrit-controller-commiters
[access "refs/for/refs/*"]
	push = group Registered Users
	push = group ldap/gerrit-controller-commiters
[submit]
	mergeContent = true
	action = rebase if necessary
