[project]
	state = hidden
	description = OpenDaylight controller
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group controller-committers
	label-Code-Review = -2..+2 group ldap/gerrit-controller-commiters
	label-Code-Review = -1..+1 group Non-Interactive Controller Users
	label-Verified = -1..+1 group Non-Interactive Controller Users
	label-Verified = -1..+1 group controller-committers
	label-Verified = -1..+1 group ldap/gerrit-controller-commiters
	submit = group controller-committers
	submit = group ldap/gerrit-controller-commiters
[access "refs/tags/*"]
	pushTag = group controller-committers
	pushTag = group ldap/gerrit-controller-commiters
[receive]
	requireSignedOffBy = true
[access "refs/*"]
	owner = group controller-committers
	owner = group ldap/gerrit-controller-access
	owner = group ldap/gerrit-controller-commiters
