.fuelux [class^="icon-"],
.fuelux [class*=" icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-top: 1px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top;
  background-position: 14px 14px;
  background-repeat: no-repeat;
}

.fuelux .icon-white,
.fuelux .nav-pills > .active > a > [class^="icon-"],
.fuelux .nav-pills > .active > a > [class*=" icon-"],
.fuelux .nav-list > .active > a > [class^="icon-"],
.fuelux .nav-list > .active > a > [class*=" icon-"],
.fuelux .navbar-inverse .nav > .active > a > [class^="icon-"],
.fuelux .navbar-inverse .nav > .active > a > [class*=" icon-"],
.fuelux .dropdown-menu > li > a:hover > [class^="icon-"],
.fuelux .dropdown-menu > li > a:focus > [class^="icon-"],
.fuelux .dropdown-menu > li > a:hover > [class*=" icon-"],
.fuelux .dropdown-menu > li > a:focus > [class*=" icon-"],
.fuelux .dropdown-menu > .active > a > [class^="icon-"],
.fuelux .dropdown-menu > .active > a > [class*=" icon-"],
.fuelux .dropdown-submenu:hover > a > [class^="icon-"],
.fuelux .dropdown-submenu:focus > a > [class^="icon-"],
.fuelux .dropdown-submenu:hover > a > [class*=" icon-"],
.fuelux .dropdown-submenu:focus > a > [class*=" icon-"] {
}

.fuelux .icon-search {
  background:url('../img/search.png') 0 0 no-repeat;
  height: 16px;
  line-height: 16px;
  width: 16px;
}
.fuelux .icon-remove {
  background:url('../img/searchremove.png') 0 0 no-repeat;
  height: 16px;
  line-height: 16px;
  width: 16px;
}

.fuelux .icon-chevron-up {
  background:url('../img/sort_up.png') 0 0 no-repeat;
  height: 16px;
  line-height: 16px;
  width: 16px;
}

.fuelux .icon-chevron-down {
  background:url('../img/sort_down.png') 0 0 no-repeat;
  height: 16px;
  line-height: 16px;
  width: 16px;
}

.fuelux .icon-chevron-left {
  background:url('../img/nextpageleft.png') 0 0 no-repeat;
  height: 16px;
  line-height: 16px;
  width: 16px;
}

.fuelux .icon-chevron-right {
  background:url('../img/nextpageright.png') 0 0 no-repeat;
  height: 16px;
  line-height: 16px;
  width: 16px;
}

.fuelux .icon-chevron-right {
  background:url('../img/nextpageright.png') 0 0 no-repeat;
  height: 16px;
  line-height: 16px;
  width: 16px;
}

