
<configuration scan="true">
  <appender name="netconfcli.log" class="ch.qos.logback.core.FileAppender">
    <file>netconfcli.log</file>

    <encoder>
      <pattern>%date{"yyyy-MM-dd HH:mm:ss.SSS z"} [%thread] %-5level
        %logger{35} - %msg%n</pattern>
    </encoder>

  </appender>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder
      by default -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
      </pattern>
    </encoder>
  </appender>



  <root level="trace">
    <appender-ref ref="netconfcli.log" />
    <!-- <appender-ref ref="STDOUT" /> -->
  </root>

  <!-- <logger name="org.opendaylight.yangtools.yang.model.api" level="TRACE"
    additivity="false"> <appender-ref ref="netconfcli.log" /> </logger> -->
</configuration>
