<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
    "-//Puppy Crawl//DTD Check Configuration 1.2//EN"
    "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">
<module name="Checker">

<!--
     ======================================================================
        Please do not add new Checkstyle check modules here anymore:

        1. https://git.opendaylight.org/gerrit/#/c/39797/ has aligned
        odl-parent's common Checkstyle rule set to include these.

        2. As a next step, perhaps you would like to accept odl-parent's
        Checkstyle definition as errors instead of warnings for Controller?
        This is possible via violationSeverity=error as documented on
        https://wiki.opendaylight.org/view/BestPractices/Coding_Guidelines#Checkstyle

        Please contact odlparent-dev@lists.opendaylight.org if you feel
        a Checkstyle rule is too strict in general and should be reviewed.

        3. Ultimately this entire project (org.opendaylight.controller:checkstyle)
        should then be deleted, and dependencies to it removed.
     ======================================================================
 -->

    <module name="FileTabCharacter">
        <property name="eachLine" value="true"/>
    </module>

    <module name="RegexpSingleline">
        <!-- \s matches whitespace character, $ matches end of line. -->
        <property name="format" value="\s+$"/>
        <property name="message" value="Line has trailing spaces."/>
    </module>
    <module name="TreeWalker">
       <module name="RedundantImport"/>
       <module name="UnusedImports"/>
       <module name="AvoidStarImport"/>
       <module name="UpperEll"/>
       <module name="EmptyStatement"/>
       <module name="EqualsHashCode"/>
    </module>

</module>
