body #header a#logo {
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    background: transparent url(../images/logo.png) no-repeat left center;
    padding: 20px 0 20px 70px;
    color: white;
}

div.footer {
    display: none;
}
