// vi: set smarttab et sw=4 tabstop=4:
module ${app}-consumer-impl {

    yang-version 1;
    namespace "urn:opendaylight:params:xml:ns:yang:controller:config:${app}-consumer:impl";
    prefix "${app}-consumer-impl";

    import config { prefix config; revision-date 2013-04-05; }
    import opendaylight-md-sal-binding { prefix mdsal; revision-date 2013-10-28; }

    description
        "This module contains the base YANG definitions for
        ${app}-consumer impl implementation.";

    revision "2014-05-23" {
        description
            "Initial revision.";
    }

    // This is the definition of consumer service interface identity.
        identity ${app}-consumer-service {
            base "config:service-type";
            config:java-class "${package}.consumer.${capitalApp}ConsumerService";
        }

    // This is the definition of the service implementation as a module identity.
    identity ${app}-consumer-impl {
            base config:module-type;
            config:provided-service ${app}-consumer-service;
            // Specifies the prefix for generated java classes.
            config:java-name-prefix ${capitalApp}Consumer;
    }

    augment "/config:modules/config:module/config:configuration" {
                case ${app}-consumer-impl {
                    when "/config:modules/config:module/config:type = '${app}-consumer-impl'";

                    container rpc-registry {
                        uses config:service-ref {
                            refine type {
                                mandatory true;
                                config:required-identity mdsal:binding-rpc-registry;
                            }
                        }
                    }
                }
            }
}
