<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    version="3.0">
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>JAXRSApiDoc</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>org.opendaylight.controller.sal.rest.doc.jaxrs.ApiDocApplication</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>JAXRSApiDoc</servlet-name>
        <url-pattern>/apis/*</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>cross-origin-api-doc</filter-name>
        <filter-class>org.eclipse.jetty.servlets.CrossOriginFilter</filter-class>
        <init-param>
            <param-name>allowedOrigins</param-name>
            <param-value>*</param-value>
        </init-param>
        <init-param>
            <param-name>allowedMethods</param-name>
            <param-value>GET,POST,OPTIONS,DELETE,PUT,HEAD</param-value>
        </init-param>
        <init-param>
            <param-name>allowedHeaders</param-name>
            <param-value>origin, content-type, accept, authorization</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>cross-origin-api-doc</filter-name>
        <url-pattern>/apis/*</url-pattern>
    </filter-mapping>


    <security-constraint>
      <web-resource-collection>
        <web-resource-name>free access</web-resource-name>
        <url-pattern>/explorer/css/*</url-pattern>
        <url-pattern>/explorer/images/*</url-pattern>
        <url-pattern>/explorer/lib/*</url-pattern>
        <url-pattern>/explorer/*</url-pattern>
      </web-resource-collection>
    </security-constraint>

</web-app>
