<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
  <servlet>
     <servlet-name>BasePathModifierServlet</servlet-name>
     <servlet-class>org.opendaylight.controller.swaggerui.BasePathModifierServlet</servlet-class>
  </servlet>
  <!-- Mapping for all northbound json files aka apis-->
  <servlet-mapping>
    <servlet-name>BasePathModifierServlet</servlet-name>
    <url-pattern>/apis/*</url-pattern>
  </servlet-mapping>
  <!-- Mapping to get list of available NB apis -->
  <servlet-mapping>
    <servlet-name>BasePathModifierServlet</servlet-name>
    <url-pattern>/apilist.json</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>
